/* Basic styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrapper{
  width: 100%;
  height: 100vh;
  background-image: url(./images/uni-gate.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 7em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .7;
}

body {
  font-family: Arial, sans-serif;
}

.form-container {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #cfcfcf;
  background-color: #fafafa;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #808080;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

::placeholder{
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 6px;
  font-size: 16px;
  background-color: #2727ffd0;
  color: white;
  border: none;
  cursor: pointer;
  transition: .5s;
  border-radius: 5px;
}

button:hover {
  background-color: #1313ffda;
}

.nav-logo{
  width: 70px;
  height: 70px;
  margin-right: 30px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 50%;
  background-image: url(./images/logo-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #000000;
}

.navlinks{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  float: left;
}

nav li a {
  /* display: block; */
  color: #d8d8d8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #5151ff62;
}

.logo-btn{
  margin-right: 0px;
}

.dropbtn{
  transition: .3s ease-in-out;
}

.dropdown {
  height: 20px;
  display: inline-block;
  transition: .3s ease-in-out;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.timetable-container {
  width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #bebebe;
  border-radius: 5px;
}

.timetable-container h2{
  color: #1313ffda;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

/* Styling for logout button */
.logout-button {
  background-color: #f44336; /* Red color */
  color: white;
  padding: 8px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.logout-button:hover {
  background-color: #d32f2f;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

th{
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

tr td{
  color: #000;
  /* font-size: 16px; */
  font-weight: 500;
}

.hidden {
  width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #bebebe;
  border-radius: 5px;
}


.hidden h2{
  color: #1313ffda;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
