{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Signup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <!-- STUDENT SIGNUP -->
    <div class="form-container">
        <h2>Signup</h2>
        <form id="signupForm">
            <input type="text" id="name" placeholder="Full Name" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <input type="password" id="repeatPassword" placeholder="Repeat Password" required>
            <button type="submit">Signup</button>
            <p>Already have an account? <a href="login.html">Login here</a></p>
        </form>
    </div>
    <script src="{% static './app.js' %}"></script>
</body>
</html>
