{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supervisors</title>
  <link rel="stylesheet" href="{% static './style.css' %}">
</head>
<body>
            <!-- HEADER -->
            <header>
              <nav>
                  <ul>
                  </div>
                    <div class="navlinks">
                      <div class="nav-logo"></div>
                      <li><a href="./timetable.html">Back</a></li>
                  </div>
                      <!-- Logout Button -->
                      <li style="float: right;">
                          <button id="logoutBtn" class="logout-button">Logout</button>
                      </li>
                  </ul>
              </nav>
          </header>

      <div class="body-wrapper">
      <div class="overlay">
    <div id="supervisorsList" class="hidden">
      <h2>Exam Timetable</h2>
      <table>
        <tr>
          <th>Supervisors</th>
          <th>Courses</th>
          <th>Time</th>
          <th>Day</th>
      </tr>
      
      <tr>
        {% for supervisor in supervisors %}
          <td>{{supervisor.Supervisors}}</td>
          <td>{{supervisor.Subject}}</td>
          <td>{{supervisor.Time}}</td>
          <td>{{supervisor.Date}}</td>
        {% endfor %}
      </tr>
     
    
  
      </table>
  </div>
  </div>
</div>
<script src="{% static './app.js' %}"></script>
</body>
</html>